[2021-08-08 16:12] pamelatech opened #1 "Images have disappeared from all Email Templates"
We had a link to an img in all of our email templates, that source code has mysteriously disappeared.   The text changes persist so I don't believe that the whole template was reset, just the images were removed.

[2021-08-08 16:23] pamelatech opened #2 "Silkstart domain forwarding is not working"
Even when you use an email address of "@womeninidentity.silkstart.com", user emails are not forwarded. This means we cannot go live

[2021-08-08 16:25] pamelatech opened #3 "User Nav not finalized"
We need a reasonable nav bar for all chapters before we go live

[2021-08-08 16:58] pamelatech opened #4 "Column in Chapter main page is blue"
We think this is an issue with the way that the CSS on the main page works for the "striped" scrolling

[2021-08-09 10:52] fhobswid commented on #3
I have now updated Europe to match Americas

[2021-08-09 10:53] fhobswid commented on #4
Can't find where the issue is - removed blue but it's now grey. Need Michael's help.

[2021-08-09 12:50] fhobswid commented on #4
Michael fixed it in a script we don't have access to

[2021-08-09 12:50] #4 closed

[2021-08-09 13:42] fhobswid opened #5 "Chapters need content - blogs, jobs and forum"
To follow ambassador training I guess?
Must ensure that posts (articles/blogs) should never be promoted to other chapters.

[2021-08-09 13:50] fhobswid opened #6 "Events calendar (Global chapter only) to be populated - at least a few key events"
Waiting on Thelma to send me a list to include - she has promised today, so hopefully will be able to populate it soon.

[2021-08-09 13:55] fhobswid opened #7 "Master chapter should be deleted"

[2021-08-11 18:52] fhobswid opened #8 "Duplicate sponsor hyperlinks unclear with screen readers"
As fed back from Kit Pimm, who uses a screen reader:

Not yet fed back to Michael, as other things are higher priority.

[2021-08-11 18:59] fhobswid commented on #3
Don't forget footer links too for apex/global/chapter

[2021-08-11 19:00] fhobswid opened #9 "Update footer links in all chapters"
Still linking to Master chapter

[2021-08-11 19:01] fhobswid opened #10 "Check all meta data descriptions for chapter pages"
Did for apex - need to check chapters

[2021-08-11 19:04] fhobswid opened #11 "Add redirects for any new pages on WiD website"
Run another list of URLs to add/check redirects for (pages that have been added since initial complete of redirects)

[2021-08-11 19:05] fhobswid opened #12 "Check page header banner images"
(Check title positioning, create banners where repeated)

[2021-08-11 19:06] fhobswid opened #13 "Hide certain images on mobile"
Where banner text too small to read

[2021-08-11 19:07] fhobswid commented on #3
Also noting that we need to do this for global

[2021-08-11 19:08] fhobswid opened #14 "Populate jobs board - remove test content"
Pam also noted featured image issues

[2021-08-11 19:31] fhobswid opened #15 "Can "Promote This Post To Other Chapters" be empty by default when posting new article?"
Currently all chapters are selected. This is not a functionality we currently want to use, so anyone who does this by accident will cause SEO issues.

[2021-08-11 19:35] fhobswid opened #16 "Feature request - display author in Articles (as it does in Blogs)"
Seems odd that you can 'Post on behalf of another individual' but it doesn't show.

Ideally we would only have this on the Blog category, but all is better than none.

[2021-08-14 16:48] pamelatech commented on #15
The reason we want this is to preserve search engine optimization

[2021-08-14 16:51] hlflanagan opened #17 "Cannot configure the Campaigns page"
We don't seem to be able to edit https://womeninidentity.silkstart.com/campaigns; there is no header and the buttons are off (words not centered)

[2021-08-14 16:53] hlflanagan opened #18 "Need the Google Maps API key"
![image](https://user-images.githubusercontent.com/4659093/129453579-1e873987-acbe-4ebe-b58c-d1ed31088cc8.png)

[2021-08-14 16:55] hlflanagan opened #19 "Add chapter-specific links or buttons to each chapter-level jobs board"
Adding more buttons to each of the chapter-specific boards to make it easier to navigate to jobs promoted in other regions.

[2021-08-14 18:12] hlflanagan opened #20 "Support the creation of recurring events"

[2021-08-14 18:13] hlflanagan opened #21 "Provide better visibility when messages are in a user's account"
Maybe a red dot next to their name when they've logged in?

[2021-08-14 18:14] hlflanagan opened #22 "Offer an "unsubscribe all" option rather than making the individual click every box"
Example page where this would be useful:
https://europe-womeninidentity.silkstart.com/myprofile/settings

[2021-08-14 18:15] hlflanagan opened #23 "Admin interface: offer A count of total opt-in recipients within a subscription topic"
https://womeninidentity.silkstart.com/onepage/subscription_topics

[2021-08-14 18:17] hlflanagan opened #24 "Explicit timezone support"
Whenever a time-of-day is listed, explicitly state the timezone (e.g., when a newsletter is scheduled to post)

[2021-08-14 18:17] hlflanagan opened #25 "Cannot add alt tags for all images - header images, articles feature images"
Even with the WCAG template, not all images are properly tagged

[2021-08-14 18:18] hlflanagan opened #26 "Request for global consent"
A member should be able to set a global consent option so they don't have to click a consent box every time they register for an event or post to a forum

[2021-08-14 18:19] hlflanagan opened #27 "Event email confirmation"
SilkStart should automatically send a notification to event creator confirming the creation of an event

[2021-08-14 18:20] hlflanagan opened #28 "Sponsors and outstanding balance"
Only sponsors should see "outstanding balance"

https://womeninidentity.silkstart.com/myprofile/detailed

[2021-08-14 18:22] hlflanagan opened #29 "User Profile experience in chapters is inconsistent"
Example:
https://europe-womeninidentity.silkstart.com/myprofile/edit shows information about the user, but https://europe-womeninidentity.silkstart.com/myprofile/detailed shows "Page Not Found".

[2021-08-14 18:23] hlflanagan opened #30 "MFA support for Admins"

[2021-08-14 18:23] hlflanagan opened #31 "Live display of reports"
Reports are downloadable - we want them displayed live

[2021-08-14 18:25] hlflanagan opened #32 "Not all emails are configurable"
Some emails are configurable and others are not.  All emails should be configurable (e.g., email going to the chapter admin regarding the confirmation of a new member)

[2021-08-14 18:26] hlflanagan opened #33 "Controlling postal address availability"
We should be allowed to turn off any option to add postal address details, so that empty boxes do not show up when looking at a user's profile.

[2021-08-14 18:27] hlflanagan opened #34 "Improving multi-day events"
When creating an external event, you cannot create a multi-day event that's 'all-day'. That is only an option for a one-day event. So Multi-day events have to have a start and end time.

[2021-08-14 18:27] hlflanagan opened #35 "Wordpress last login should not be visible"

[2021-08-14 18:28] hlflanagan opened #36 "Forum widget improvements"
There should be a forum widget to let us link to a specific forum (e.g., a chapter forum or a specific topic)

[2021-08-15 12:52] fhobswid commented on #29
Given that Country of Residence is a mandatory field, this should be nearer the top.

Editing profile in chapter that you're not part of doesn't work, but this isn't clear when you begin the journey. I.e. I could be in Americas (which I'm not a part of) and edit everything in my profile, but when I go to save it it will not work. If we don't allow people to edit profile in chapter, they shouldn't

[2021-08-15 12:56] fhobswid commented on #15
Found where to untick

[2021-08-15 12:56] #15 closed

[2021-08-15 13:14] #9 closed

[2021-08-15 13:18] fhobswid opened #37 "Can jobs/events/articles content from one chapter/apex appear in another chapter widget?"
E.g. Could Apex Articles appear in 'Recent Posts' widget on Americas homepage?

Otherwise we have to remove and replace various widgets before launch. This makes it urgent.

[2021-08-15 13:19] #3 closed

[2021-08-15 14:15] fhobswid opened #38 "How to move header text (on banner) higher on Silkstart app pages - e.g. Jobs, Campaigns?"

[2021-08-15 14:17] fhobswid commented on #17
Figured out where to add header (although would like to make tweaks to text position), but buttons need work.

[2021-08-15 14:21] fhobswid commented on #18
Need someone with WiD card details to set up a billing account. It won't be charged, but better to use a WiD card - does Pam have this?
https://silkstartsupport.zendesk.com/hc/en-us/articles/360008833993-How-do-I-obtain-a-Google-Maps-API-Key-

[2021-08-15 14:57] fhobswid commented on #6
Have done some that Thelma sent over. Think Pam may have more she wants to add. Perhaps ambassadors can do some in training too.

[2021-08-15 23:56] pamelatech commented on #18
On it

[2021-08-16 00:38] pamelatech commented on #24
Should this only be an enhancement or should we log a bug for the newsletter scheduling page too?

[2021-08-16 10:50] fhobswid commented on #13
Figured this out - applied to About Us page. Not sure if anywhere else needs it?

[2021-08-16 10:50] #13 closed

[2021-08-16 14:13] pamelatech commented on #29
Reviewed with Michael 8/16, this fix is in the pipeline, and should address the initial report and Francesca's second observation

[2021-08-16 14:15] pamelatech commented on #25
Hey @fhobswid can you provide an example of this so Michael can reproduce for his team?

[2021-08-16 14:19] pamelatech commented on #17
Michael sees the problem and will take a look

[2021-08-16 14:24] pamelatech commented on #2
Michael turned off silkstart forwarding, all users will get all emails (!)

[2021-08-16 14:24] #2 closed

[2021-08-16 14:46] hlflanagan commented on #37
Right now, the widget will only show what's populated in the chapter.

[2021-08-16 14:59] pamelatech commented on #18
I have signed up and added the API key but I don't think the maps will work until we are in our own domain.   I've made Caitlin and Francesca owners of our GCP platform account, so that if there are still issues, any of us can maintain.  suggest we leave this open until we can test on migration day

[2021-08-16 15:25] mcresilkstart commented on #35
@pamelatech @hlflanagan  I have removed the 'Last Wordpress login' field from the user profile and it is now only visible in the admin console when you select the custom info tab when looking at a member record.  Please check and close this if now OK

[2021-08-16 15:25] #35 closed

[2021-08-16 19:02] #10 closed

[2021-08-16 19:55] fhobswid commented on #12
Waiting on Michael coming back to me about title positioning in Apps - created as separate issue. More banners created.

[2021-08-16 19:55] #12 closed

[2021-08-17 11:16] mcresilkstart commented on #25
@fhobswid I have asked my techies how to add the alt-tags to these images and once they clarify to me I will pass the details on to you.

[2021-08-17 11:36] mcresilkstart commented on #38
@fhobswid I have added some new CSS to the APEX custom CSS section that moves the text on the header higher for both the donation list page and the jobs board page.  You can replicate elsewhere as needed as long as you find the name of the application page where you want this to change.  You can find this name if you 'inspect' the HTML page.

[2021-08-17 11:36] #38 closed

[2021-08-17 12:25] mcresilkstart commented on #17
@fhobswid I have fixed the text display format on the Delete button but need my techie to help resolve the button display width issue for both Edit and Delete buttons (when logged in as an admin) that means the text runs off to the right.

[2021-08-17 12:30] fhobswid opened #39 "Sponsors page background has header step and repeat"
Something seems to have happened to the sponsors page, potentially related to a fix elsewhere?
https://womeninidentity.silkstart.com/sponsors_page
Thanks

[2021-08-17 12:42] mcresilkstart commented on #39
@fhobswid oops - I broke something making another change.  Is it ok now?  If so please close this one

[2021-08-17 12:44] fhobswid commented on #39
Yes that looks ok now, thanks!

[2021-08-17 12:44] #39 closed

[2021-08-17 15:14] hlflanagan opened #40 "Mailing list subscription text"
This text needs to be more clear on exactly what the user is subscribing to:

"Please subscribe to our mailing list. After you complete the membership registration, you can control your opt-in and opt out choices in the Communications Settings section of your profile "

We need to be clear as to whether they are subscribing to the general newsletter, to all mailing lists, or to the general newslet

[2021-08-17 15:19] hlflanagan opened #41 "Update confirmation email with how to (un)subscribe from mailing lists"

[2021-08-17 15:20] mcresilkstart commented on #27
@hlflanagan Silkstart doesn't have the option to send a notification to the event creator to confirm new event creation.  This would require a custom enhancement to do this.  How do you want to move forward with this one as I see it is not tagged 'long term'?

[2021-08-17 15:23] hlflanagan commented on #27
It is an enhancement request; it is not a blocker for going live.

[2021-08-17 15:25] mcresilkstart commented on #40
@hlflanagan ok it uses this text in your comment right now - so what do you want it to be changed to?

[2021-08-17 15:30] hlflanagan commented on #40
The text in the Join Up journey has to be explicit as to exactly what the user will subscribe to if they click that box. If clicking that box results in having the user subscribed to newsletters, announcements, upcoming events,  Everything posted, Changes to jobs I've posted, Posts by people or topics I follow, Posts in discussions I'm involved in, Things I post, and Messages I receive from others

[2021-08-17 15:33] hlflanagan opened #42 "ToS and Disclaimer"
A link to the “Terms of Service” and “Disclaimer” should also be added to the “Legal” section at the bottom of the home page just like the privacy policy is linked in the same section. (see DPIA folder in Google Drive's Silkstart 2021)

[2021-08-17 15:34] hlflanagan commented on #42
Pending sign-off on the text; Debbie will let us know

[2021-08-18 13:37] mcresilkstart commented on #40
@hlflanagan I am double checking the following but this is what I believe happens with the subscribe process.  The tick box in the sign up process for someone to consent to being a subscriber means they are subscribing to all 'marketing' email campaigns  that you may subsequently send out like a monthly newsletter.  When you plan such an email campaign you can filter the recipient list based on th

[2021-08-18 14:13] mcresilkstart commented on #18
@pamelatech correct this won't work until you switch over to your custom domain.  Let me know if you need any further help on this.

[2021-08-18 15:54] fhobswid opened #43 "Add redirects from the old site to a chapter page - /forums and /event/...."
E.g. Forums now sit in the global chapter, so I would want to add a redirect from womeninidentity.org/community/ to **global.**womeninidentity.org/groups

Thanks

[2021-08-18 16:02] fhobswid opened #44 "App page URLs work despite being 'turned off' in settings"
We will only use certain Silkstart Apps in certain chapters/the apex site. However, the URLs still work even in chapters where the App has been turned off - this may cause as issue for Google indexing the incorrect pages, and be confusing in the site architecture/if someone accidentally types in a standard link, such as womeninidentity.org/blog.

Examples of URLs:
https://womeninidentity.silkstart

[2021-08-18 18:48] fhobswid commented on #44
Possibly related to this, it seems odd that anyone would be able to access this page - https://womeninidentity.silkstart.com/sponsors
This URL is much more suited to what is listed at https://womeninidentity.silkstart.com/sponsors_page
If I add an alias to /sponsors_page (/sponsors) will that work? What then happens to the actual /sponsors page?

[2021-08-19 10:17] mcresilkstart commented on #44
@fhobswid this behavior for app pages like blogs and groups has been logged previously as an issue that we plan to address with a change so that they won't be accessible in this way.  I have just added a report of the same behavior for /sponsors (normally only an admin accesses this page to edit/add sponsor details) and for /sponsors_page.  You also get the same thing for /team.  At least the acce

[2021-08-19 11:08] mcresilkstart commented on #43
@fhobswid so once the DNS changes are in place to use your custom domain the APEX will be womeninidentity.org and the global chapter will use the subdomain global.womeninidentity.org so the URL for forums in the global chapter will be global.womeninidentity.org/groups.  I am pretty sure that you can only setup an alias for redirecting traffic to URL's within one domain - not sure therefore that yo

[2021-08-19 14:29] hlflanagan commented on #40
![image](https://user-images.githubusercontent.com/4659093/130086714-9fadfe3f-0747-465d-80c5-3704c247748e.png)

Note that the "News and Announcements" button is the master button that acts as a subscribe/unsubscribe all. @pamelatech , can you test, please?

[2021-08-19 14:33] hlflanagan opened #45 "Need to build segment lists for email campaigns"
**Is your feature request related to a problem? Please describe.**
We need to build all the segment lists (e.g., newsletter, announcements) for the site before go-live

**Describe the solution you'd like**
We need to be clear on what users are likely to receive vi email.

Related to Issue 40

[2021-08-21 11:15] mcresilkstart commented on #45
@hlflanagan @pamelatech right I have done some more research in to how subscriptions work and it is a bit different to what I shared in our call on Thursday.  So this is how it works:
**Mailing List subscriber status** (this is the one that you tick in the signup page) - this defaults to 'not subscribed' for any new user that is added.  A user can change this in their preference or by ticking the

[2021-08-21 11:16] mcresilkstart commented on #29
@hlflanagan @pamelatech the fix for this has now been released.  I checked it on our staging environment before release and it looked good.  Please check it now on your site.

[2021-08-23 15:16] mcresilkstart commented on #43
@fhobswid I have checked and we can't do a redirect to the global subdomain from the APEX using as alias.  I recommend that we implement my earlier suggestion above - create a new custom forums landing page on the APEX.  Alias this to your old community URL and in the new page include a simple message that this is the new forums and add a link in a button to take the user to the global forums land

[2021-08-23 15:17] mcresilkstart commented on #7
@fhobswid @hlflanagan @pamelatech  master chapter has now been deleted

[2021-08-24 09:49] fhobswid commented on #22
Also note that 'subscribers' with no login details cannot unsubscribe currently, as they're being asked to log in. We need to make it easy to unsubscribe to comply with GDPR

[2021-08-25 08:14] fhobswid opened #46 "All users should be able to unsubscribe without logging in"
We need to ensure a non gated Unsubscribed link is hard baked into our email footer that sits on the outside of the email.   There is one in there now but it seems to go to a dead link  https://europe-womeninidentity.silkstart.com/silkcon/unsub?email=-customer-id-&token=-token-

There are many reasons for ensuring we put the word Unsubscribed and have it ungated (not behind a login screen):
- We a

[2021-08-26 10:49] mcresilkstart commented on #46
@fhobswid a subscriber can unsubscribe from all emails or for specific topics by clicking on the link in the email footer.  That link should take you to a page where you can make these unsubscribe choices.  See this article for details: https://silkstartsupport.zendesk.com/hc/en-us/articles/212947258-How-does-a-member-unsubscribe-from-emails-

I will test it to make sure it is working for your net

[2021-08-26 16:56] fhobswid commented on #43
Ok thanks Michael - let's wait to see if we can add this redirect in the DNS settings. I will assign this to Pam as she has access to that, but Pam this can be done after launch.

[2021-08-26 16:59] fhobswid commented on #37
This is currently my most pressing issue. If it's not possible, I will need to change all of the homepages.
Would be great to get your input @mcresilkstart - thank you

[2021-08-26 17:01] fhobswid commented on #5
Blogs, jobs and forums will now not sit at regional chapter level.

[2021-08-26 17:04] fhobswid commented on #11
I've done all that I can. Some issues remain

1. Firstly around redirecting to chapter domain - created a separate issue https://github.com/wid-tech/website/issues/43
2. Around app pages - https://github.com/wid-tech/website/issues/44
[URLs 17.8.21.xls](https://github.com/wid-tech/website/files/7061495/URLs.17.8.21.xls)

[2021-08-27 15:58] mcresilkstart commented on #37
@fhobswid I have checked this with the product team and currently this is not possible (to show recent articles for example in a widget in another chapter).

[2021-09-04 14:43] pamelatech commented on #45
I've edited the Newsletter segment list to have the following two filters:

- Subscription Topic is "Monthly Women in Identity Newsletter"
- Subscribed is "Subscribed"

I think this covers our needs, it should mean that you only get the newsletter if you have subscribed to it and if you have not Unsubscribed from everything.  Tests in Testpad will be set up right now,  with 4 users:
1) A user who

[2021-09-04 15:55] #7 closed

[2021-09-04 15:55] hlflanagan commented on #7
Verified

[2021-09-04 15:56] pamelatech commented on #1
Michael confirmed that  a) images should be preserved in emails and that b) the emails should not have been removed. Closing for now, but we will watch the headers/footers more closely and document which ones have graphics

[2021-09-04 15:56] #1 closed

[2021-09-04 16:00] hlflanagan opened #47 "The "Events" icon on the Home/Apex page points to the wrong place"
**Describe the bug**
The Events icon on the Home/Apex page point to the Apex events page and not the Global event page

**What kind of user are you?**
Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://womeninidentity.silkstart.com/cpages/home'
2. Click on the Events icon mid-page
3. This takes you to https://womeninidentity.silkstart.com/events

**Expected behavior**
This

[2021-09-04 16:01] hlflanagan commented on #47
@fhobswid is this something you can help fix, or do we need Michael?

[2021-09-04 16:05] pamelatech opened #48 "Need a generic event icon"
** Describe the Bug **
Events with icons look much more attractive than events without them - we need a WID-styled generic event icon that we can attach in cases where the event itself does not have anything we can use.  This is also something we can use for our internal events.  As an example here is a set of 3 external events, one that does not have an icon:

** Describe who you are **
All users

[2021-09-04 16:09] pamelatech commented on #6
This looks good for launch but we'll need an ongoing action

[2021-09-04 16:09] #6 closed

[2021-09-04 16:09] hlflanagan commented on #14
Done!

[2021-09-04 16:09] #14 closed

[2021-09-04 16:11] hlflanagan commented on #29
Verified - thanks!

[2021-09-04 16:11] #29 closed

[2021-09-04 16:24] hlflanagan commented on #47
Will need to replace the widget with a custom something.

[2021-09-04 16:37] pamelatech commented on #42
Link is updated and propagated to all chapters.  Remaining task before launch is to replace Website Disclaimer text with final approved text.  Assigning to @hlflanagan  to finish up

[2021-09-06 15:39] pamelatech commented on #46
It looks like contacts can unsubscribe without logging in.  Members are required to login as far as my testing shows.

Here is the Contact page shown when you click the unsubscribe link:

![image](https://user-images.githubusercontent.com/2591320/132240121-a4bd7d90-bd10-4d40-aed2-014001037e7c.png)

[2021-09-11 14:21] fhobswid commented on #47
I've fixed it now - thanks!

[2021-09-11 14:21] #47 closed, assigned to fhobswid

[2021-09-11 16:01] pamelatech opened #49 "How do Contacts become Members?"
**Describe the bug**
We don't know what happens if contacts decide to become members. Do we need documentation or possibly a different email template?

**What kind of user are you?**
Contact - you have subscribed to the newsletter, now you want to be a member

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to newsletter
2. Go to Join now
3. Subscribe with the same email address
4.

[2021-09-11 16:12] pamelatech opened #50 "Missing Internal Documentation site"
**Describe the bug**
WID internal staff need to know how to maintain the website and use the content.  This needs to be an easy link that we add to the website so that it is SUPER easy to know what to do.

**What kind of user are you?**
WID member (Administrator or ambassador on the site)

**Expected behavior**
Admins and Country Ambassadors login and will see a menu item called "Help" or "Support

[2021-09-11 16:36] pamelatech commented on #50
Nav is created, need to make DNS link to close this issue

[2021-09-13 10:39] fhobswid opened #51 "Please include country on email footers address"
Can we include "UK" with the address on email footers? It doesn't currently pull through, despite it being in the Settings. Thanks

![image](https://user-images.githubusercontent.com/88625230/133069649-fbc6ca61-5965-45c2-aa98-91079de0eecd.png)
![image (1)](https://user-images.githubusercontent.com/88625230/133069653-6f15971d-492b-45f6-95b5-4f18ad565f63.png)

[2021-09-13 11:05] fhobswid opened #52 "Would like to specify image sizes in emails/articles without editing HTML"
**Is your feature request related to a problem? Please describe.**
People without HTML skills will be unable to display images larger/smaller in articles and emails. Currently the image either has to be uploaded in the correct size, or edited in HTML.

**Describe the solution you'd like**
I'd like there to be an option for image size display when you're selecting an image (see screenshot). I'd als

[2021-09-13 20:13] #37 closed

[2021-09-16 09:49] fhobswid commented on #48
Hi - I enlisted Hollie's help and she has come up with a great set of branded icons for each category. Are you happy with these @pamelatech?

Icons here: https://drive.google.com/drive/u/2/folders/1iLuMDd-E39IrvlihkbPsunF3EzjRsC0m

Key here:
![Screenshot 2021-09-16 at 10 27 55](https://user-images.githubusercontent.com/88625230/133590767-fd87ebe4-738d-48ae-a890-4366d71f8867.png)

[2021-09-16 12:21] fhobswid opened #53 "Accessing restricted pages requires login - then redirects to wrong page"
If a user is logged out and tries to access a page from the navigation (e.g. Jobs Board), this will take them to the Jobs Board in their home chapter.

I was on the apex homepage, clicked Jobs Board, was prompted to log in, logged in, got redirected to Global chapter Jobs Board (which doesn't have any content in it).

[2021-09-17 14:00] pamelatech opened #54 "Email addressed referenced in TOS and privacy documentation must change to the correct value"
**Describe the bug**
There is an email mentioned in the privacy documentation that goes nowhere.

**What kind of user are you?**
Any user on the site

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the footer and open the terms of service, look for @womeninidentity.org -  make sure all emails go to Debbie and one additional

**Expected behavior**
An email sent to that address should su

[2021-09-17 14:02] pamelatech opened #55 "Create the agreed upon privacy email address in Google Admin"
**Describe the bug**
Email sent to the privacy address (value to be decided) should go to Debbie and Emma

**What kind of user are you?**
Any user

**To Reproduce**
Send email to address in privacy statements

**Expected behavior**
Email should arrive

[2021-09-17 16:29] fhobswid commented on #53
Noting a potential fix (untested) whereby full apex link (https://womeninidentity.silkstart.com/jobs) should be put into navigation, rather than just /jobs

[2021-09-17 16:34] mcresilkstart commented on #53
@fhobswid I was trying to reproduce this problem.  If you are at the APEX and not logged in you are correctly asked to login if you access a restriced page like the jobs board.  Then once you do login you will always be directed to the HOME page of your home chapter (other than new member signup).  Note this doesn't take you to the chapter jobs board. From this chapter home page if you select the

[2021-09-17 16:38] fhobswid commented on #53
This is weird, it's actually working for me now. And it doesn't send me to my home chapter, it correctly redirects back to the apex jobs board. It definitely wasn't working yesterday... but seems to be now?! Perhaps @hlflanagan and @pamelatech could also give it a go just to check the result?

[2021-09-18 13:44] fhobswid opened #56 "Make updating sponsors simpler"
**Is your feature request related to a problem? Please describe.**
When adding new sponsors, I have to do this in the apex and then all regional chapters individually.
This is made additionally complicated when specifying the "level". We like to list our Sponsors in alphabetical order, so not only do I have to add the new sponsor details, I have to update all the other sponsors' levels to get them

[2021-09-18 15:49] pamelatech commented on #40
Hi Michael - we have new agreed upon text that better describes what our users are subscribing to.  Can you please change the Join Now subscription box to show this text:

"Please subscribe to receive our newsletter and occasional announcements. You can change your subscription preferences at any time in the Communications Settings section of your profile."

[2021-09-18 15:52] pamelatech commented on #40
Turns out there is no "Communications Settings" section in the profile, so can  you use this more accurate text:

"Please subscribe to receive our newsletter and occasional announcements. You can change your subscription preferences at any time in the Settings section of your profile, under the Communications Preferences tab."

[2021-09-18 16:31] pamelatech opened #57 ""User deleted" Error message is Unbranded, Confusing"
**Describe the bug**
In the case where a user is deleted, and they have a session open, on trying to renew the page or use navigation they are taken to a hostile, unbranded error message.  This error message (and ALL other error messages) should still be displayed within the branding and site context of our website.

**What kind of user are you?**
Deleted user

**To Reproduce**
Login as a user in

[2021-09-18 16:36] #48 closed, assigned to fhobswid

[2021-09-20 00:04] pamelatech opened #58 "Password Reset behavior different between Apex and chapters"
**Describe the bug**
Clicking the "reset password" button in a user profile in the Apex administrative back end sends a password reset link to the member,  this is our preferred behavior.  A password reset in the Global chapter sends an actual password.   We would like all of our chapters set to have the same behavior (the password link), but it does not seem to be configurable by us.

**What kind

[2021-09-20 00:10] pamelatech opened #59 "Metadata for Chapters is incorrect"
**Describe the bug**
When a link is emailed around, many email clients like outlook populate an image and metadata for the site.  Our Apex metadata looks great but our chapter metadata does not, it contains incorrect characters for punctuation etc.

Is this something we can edit ourselves?

**What kind of user are you?**
Any user receiving our site as a link in an email.

**To Reproduce**
Steps to

[2021-09-20 12:14] mcresilkstart commented on #59
@pamelatech you can edit the metadata yourself.  You find it by going to the Global home page and open it for editing and then select 'miscellaneous page options'  - there you will see a field 'meta page description' that has the text you are referencing.  It appears there is a problem with the Apostrophe in Identity's - it doesn't display this correctly with the Outlook test you tried.  Obviously

[2021-09-20 12:24] mcresilkstart commented on #58
@pamelatech I have changed this to the password reset link for all chapters.  Please check and close issue if now ok.

[2021-09-20 12:30] mcresilkstart commented on #57
@pamelatech I understand what you have reported and I will log it as a bug. I see that it is classified as post-launch which is good as I expect it won't be get fixed as a priority as this is not critical.

[2021-09-20 13:16] mcresilkstart commented on #46
@fhobswid so is there still an issue here then?  I would expect that a member should first login to change their subscription settings for security reasons.

[2021-09-20 13:34] hlflanagan opened #60 "Need to show that there is a cost for new jobs board posts for non-sponsors"
**Describe the bug**
womeninidentity.silkstart.com/jobs/new does give any indication that there is a cost for posting new jobs by non-sponsors.

**What kind of user are you?**
Member

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'womeninidentity.silkstart.com/jobs/new'
2. Note that there are no indications the job post isn't free to post

**Expected behavior**
There should be somethi

[2021-09-20 13:35] pamelatech opened #61 "No community member access to Companies"
**Describe the bug**
A clear and concise description of what the bug is.

**What kind of user are you?**
Not logged in/Guest, Member, Chapter Admin, Site Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Login as unprivileged user
2. Click on Jobs Board
3. Click on Capital One
4. See error

**Expected behavior**
Company profile should be visible to normal users

**Screenshots**
![image](

[2021-09-20 15:35] fhobswid commented on #46
@mcresilkstart I think @pamelatech has followed this issue more closely so will be better placed to advise

[2021-09-20 16:07] mcresilkstart commented on #46
@pamelatech please see my comment above regarding members needing to login to unsubscribe - I would think this is a good security approach to force a member to login to change subscription settings in the same way they need to do that to change any other element of their account.  What's you view on this?

[2021-09-20 16:21] mcresilkstart commented on #60
@hlflanagan  you are correct that there is nothing to warn a member creating a new job post that they may be charged.  I have added some example text that is above the job post button.  This is easy to edit (go to settings/apps/jobs and change the text displayed in RH column field.

If a charge is due (and this is setup to determine this based on member type) the user will be asked to pay for the

[2021-09-20 16:33] mcresilkstart commented on #61
@pamelatech this is a permissions issue on the APEX.  I have just changed the permission grid to allow access to company details for member types:  community, country ambassador and friends of.  These member types can now access the company page from the jobs board listing in the example given.  Please check and also decide if any other 'user types' need to have this permission and I can add them

[2021-09-21 13:57] hlflanagan commented on #41
Addressed

[2021-09-21 13:57] #41 closed

[2021-09-21 14:13] hlflanagan commented on #42
Privacy Policy, ToS, and Disclaimer text updated on the new site

[2021-09-21 14:13] #42 closed

[2021-09-23 05:20] pamelatech opened #62 "Must add LexisNexis as Sponsor after Logo signoff"
**Describe the bug**
LexisNexis is a platinum sponsor but have been left off the website as the contract has strict rules about logo display.  Emma and Kay are following up, we need to make sure when they are done, we update the sponsors page.

(this will happen after launch)

[2021-09-23 18:45] #45 closed, assigned to pamelatech

[2021-09-25 15:29] hlflanagan commented on #40
Done

[2021-09-25 15:29] #40 closed

[2021-09-25 15:29] hlflanagan commented on #50
Site built; will need to iterate on documentation over time

[2021-09-25 15:29] #50 closed, assigned to pamelatech

[2021-09-25 15:39] hlflanagan commented on #54
fixed

[2021-09-25 15:39] #54 closed, assigned to hlflanagan

[2021-09-25 15:50] pamelatech opened #63 "13 Users failing import"
**Describe the bug**
13 Users have special characters in their name that are not importing into the system

**What kind of user are you?**
Users with fancy characters in their name

**To Reproduce**
Pam has the set of user names affected - for privacy reasons, they aren't listed here

**Expected behavior**
Umlauts and other special characters need to be represented for imported users.  Not sure if

[2021-09-25 16:06] hlflanagan commented on #59
@mcresilkstart - I attempted to change the miscellaneous page option for each chapter page to say "Women in Identity: Global chapter - connect with members from across the globe." (where "Global" is changed as per chapter name) but the change did not save. (Steps: clicked on 'Edit this Page' then 'Options' then 'Miscellaneous Page Options' then updated Meta Page Description, then clicked Save)

[2021-09-25 16:06] hlflanagan commented on #55
Done

[2021-09-25 16:06] #55 closed, assigned to pamelatech

[2021-09-25 16:10] hlflanagan commented on #58
Looks good to me.

[2021-09-25 16:10] #58 closed, assigned to mcresilkstart

[2021-09-25 16:12] hlflanagan commented on #53
Works as expected for me.

[2021-09-25 16:12] #53 closed, assigned to mcresilkstart

[2021-09-25 16:13] hlflanagan commented on #61
Looks good to me. I tested as a community member.

[2021-09-25 16:13] #61 closed, assigned to pamelatech

[2021-09-25 16:22] hlflanagan opened #64 "Jobs that have been deleted on the front end are archived in the back end"
**Describe the bug**
Jobs that are marked as "deleted" in the front end are marked as "archived" in the back end, and we don't know how to control how long a job is archived for.

**What kind of user are you?**
Site Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.womeninidentity.org/jobs?current_page=1&sort_type=featured_recent&filter=%7B%7D&display_type=default'
2.

[2021-09-25 17:13] hlflanagan opened #65 "Update welcome messages to include links to Apex, Chapters"
**Describe the bug**
We could improve the welcome email by adding links to womeninidentity.org, the chapters, and even the lost password flow.

**What kind of user are you?**
Admin

**To Reproduce**
https://www.womeninidentity.org/onepage/automated_emails/welcome_notification_user

[2021-09-25 17:16] hlflanagan commented on #46
We're good on this for now. If it becomes an issue when we undergo a privacy audit, we'll adjust.

[2021-09-25 17:16] #46 closed, assigned to mcresilkstart

[2021-09-25 17:17] hlflanagan commented on #63
Updated list submitted to @mcresilkstart

[2021-09-25 17:22] pamelatech opened #66 "Google Maps not correctly displaying location"
**Describe the bug**
Maps on the website are not displaying.  This was a capability we could not test or troubleshoot prior to launch.

**What kind of user are you?**
Not logged in

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://global.womeninidentity.org/events/identity-trust-conferencemaking-digital-identity-a-reality and look at the map
2.
**Expected behavior**
A map should

[2021-09-25 17:30] pamelatech opened #67 "Confirmation Email not sent on plan change"
**Describe the bug**
When a user is approved as a Community Member in a given chapter, there is a checkbox as the plan is created called "notify user".   When checked, one of two email templates should fire -- either the Membership Purchase template (if the user has never had this plan before) or the Membership Renewal template (if the user has been part of the plan before).   Currently no email i

[2021-09-25 17:35] mcresilkstart commented on #59
@hlflanagan I assume you are updating the meta age description to remove the apostrophe that doesn't display correctly?  If so you must make sure that you publish the page for it to be the active page each time.

[2021-09-25 17:48] mcresilkstart commented on #67
@pamelatech I think this is because the email send settings at the chapter level are restricted (I opened them up at the APEX but not the chapters).  I have just changed that to send all emails in the Global chapter.  Can you try your test again with someone joining GLobal as their home chapter and check if it now works.  If it still fails I will have to investigate further

[2021-09-25 17:50] mcresilkstart commented on #63
@hlflanagan @pamelatech thanks - that should fix it.  I will test again

[2021-09-25 22:25] pamelatech commented on #67
I just tested again -  I think that instead of unrestricting the settings for Global, you have restricted them.  Now, I see the expected emails for the womeninidentity.org domain users but no messages for outside email addresses.  Previously, the outside email address could receive the welcome email from Global but not the membership plan.

So I believe we still have a problem, we need to unrestri

[2021-09-26 00:38] pamelatech commented on #66
Working and tested on Global but API keys are created and set for ALL CHAPTERS.  Documentation added to the Site Configuration section of the Help Center,  link to documentation here (restricted to tech team, Heather and Francesca) https://docs.google.com/document/d/1VMx0EcWMPVF4OQ36ezZ8coVjUo2o29LaXivF3_IBYZw/edit#

[2021-09-26 00:38] #66 closed, assigned to pamelatech

[2021-09-26 00:42] pamelatech opened #68 "Google Analytics not configured"
**Describe the bug**
Google Analytics keys need to be set for each chapter and apex

**What kind of user are you?**
 Site Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://apac.womeninidentity.org/onepage/network_config/website_settings or any other chapter's URL as admin
2. You should see a Google Analytics key set

**Expected behavior**
Google Analytics should be set up a

[2021-09-26 11:17] mcresilkstart commented on #59
@hlflanagan I have updated all the chapter home page meta page descriptions with the new wording and published them.  Should be good now when they are rendered in a notification/email

[2021-09-26 12:17] mcresilkstart commented on #67
@pamelatech I haven't changed any settings as they look to be set at both the APEX and in Global to all emails will be sent.  I created a test user, assigned to global, went to global and assigned that test user to the community member plan, ticked the 'notfiy user' box and saved.  I then checked I got the email and it arrived as expected as in below image.  So to me this looks to be working.

![i

[2021-09-26 12:21] mcresilkstart commented on #63
@hlflanagan @pamelatech 13 member data now fixed - I ran another validation test and got no errors just loads of warnings which relate to the importer seeing some duplicates which will disappear when I clean the existing users out before running the import - but I won't do any more here until you give me the go-ahead

[2021-09-26 13:57] pamelatech opened #69 "The Admin plan doesn"
**Describe the bug**
A clear and concise description of what the bug is.

**What kind of user are you?**
Not logged in/Guest, Member, Chapter Admin, Site Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable

[2021-09-26 14:00] pamelatech commented on #69
Accidentally submitted early

[2021-09-26 14:00] #69 closed, assigned to mcresilkstart

[2021-09-26 14:08] pamelatech opened #70 "Admin Plan and No Plan must be differentiated in Main members screen"
**Describe the bug**
When you list all the users in the main members screen, admins show up as having no plan.  This makes it hard to figure out if there are actually users who accidentally have no plan.    This is a security issue, because this messy list habituates users to see both privileged and unprivileged users in this category.  an attacker who could get themselves added to the admin plan

[2021-09-26 14:27] pamelatech opened #71 "User 1326 displaying incorrectly in main members screen"
**Describe the bug**
There are serious inconsistencies for a specific user.  Joanne Mavridis (user #1326) is an Admin if I go look at her membership in Apex, but she shows up in the apex members page as having the "Apply for Membership" plan.   If I look in her home chapter, she correctly shows up as a community member in her profile and the members page.

Database inconsistencies are concerning -

[2021-09-26 14:29] pamelatech commented on #63
Yahoo!  We will run our last test shortly now that this issue is good and the email confirmation is complete

[2021-09-26 14:29] #63 closed, assigned to pamelatech

[2021-09-26 15:17] mcresilkstart commented on #71
@pamelatech that looks like a bug.  If you look at membership history on details for her you see she was initially on the 'Apply for Membership' plan and then was moved to the community plan.  The APEX members display is not correct for some reason.  I will report this as a bug. Note that being an Admin is more of a user status than a plan.  An admin typically exists with some kind of membership p

[2021-09-26 15:35] mcresilkstart commented on #70
@pamelatech admins don't need to be assigned to a plan as the Admin status determines their access rights.  However most admin usually do get assigned to a plan and I would recommend that you adopt that approach. Note that you can filter the member list by various nested criteria including by plan and by admin Yes/No status.

[2021-09-27 08:14] fhobswid commented on #68
GA is now tracking

[2021-09-27 08:14] #68 closed, assigned to fhobswid

[2021-09-27 12:16] mcresilkstart commented on #71
@pamelatech I have logged this as a bug.  However I note that this behaviour is not consistent.  If you look at my test user Michael Creswell Test2 member number 1362 which started as an Apply for Membership and then got moved to Community member, this user is displayed correctly on the member list page.  This user was added at a later date than your example.  The problem that you found may be a h

[2021-09-30 09:41] mcresilkstart commented on #64
@hlflanagan deleted jobs as you have found out go to archived status.  They will remain archived.  I can permanently delete them if you would like me to.  Just let me know.

[2021-10-02 15:41] hlflanagan commented on #71
user no longer exists because of user import, so we can't reproduce it on our site. We'll close this on our side.

[2021-10-02 15:41] #71 closed, assigned to mcresilkstart

[2021-10-02 15:43] hlflanagan commented on #70
Will do. Thanks for the feedback!

[2021-10-02 15:43] #70 closed, assigned to mcresilkstart

[2021-10-02 15:51] hlflanagan commented on #67
Verified - we're good

[2021-10-02 15:51] #67 closed, assigned to mcresilkstart

[2021-10-02 16:05] hlflanagan opened #72 "Default color for webinar events appears to be white"
**Describe the bug**
The color for webinar events appears to be white, such that it can't be easily seen in the events calendar.

**What kind of user are you?**
Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://global.womeninidentity.org/events'
2. Hover over October 7; you should barely see the IEEE Privacy event
3. Click on the event, URL =  'https://global.womeninidenti

[2021-10-02 16:08] hlflanagan commented on #64
We're going create a new issue to request a default cleanup period as an RFE.

[2021-10-02 16:08] #64 closed, assigned to pamelatech, mcresilkstart

[2021-10-02 16:10] hlflanagan opened #73 "RFE to automatically delete archived jobs"
**Describe the solution you'd like**
Jobs that are marked as "deleted" in the front end are marked as "archived" for forever in the back end. We would like them to automatically delete after some configurable time period.

**Describe alternatives you've considered**
We know we can request they be deleted by a Silkstart admin, but would prefer this just happen as an automated feature.

**Additional

[2021-10-02 16:11] hlflanagan commented on #62
Done.

[2021-10-02 16:11] #62 closed, assigned to hlflanagan

[2021-10-02 16:29] pamelatech opened #74 "Email Subscription Preferences Lost in Import"
**Describe the bug**
In the import, both members and contacts were subscribed to the newsletter subscription topic, however in our testing of the data import, it looks like all the members are now in "Not Subscribed" state.  This is an issue - some of our members have legitimately unsubscribed, and we need that status to be preserved, the rest should be subscribed.  We are migrating existing prefe

[2021-10-02 16:43] hlflanagan commented on #60
This is helpful, and we've adjusted the text. We still think something is needed on the job submission page itself (https://www.womeninidentity.org/job/new), though. Is that possible?

[2021-10-02 16:46] hlflanagan commented on #59
Thanks!

[2021-10-02 16:46] #59 closed, assigned to mcresilkstart

[2021-10-02 16:49] pamelatech opened #75 "Need Pricing List for Job Board"
**Describe the bug**
Currently if a user might want to post a job, there is no way to know that costs apply or what those costs are.

We need to clearly communicate our prices so that users don't try to post a job and THEN find out it costs more than they want.  We also need to clearly explain that sponsors can post for free

**What kind of user are you?**
Users who are not sponsors but want to un

[2021-10-02 17:04] hlflanagan opened #76 "Individual campaigns need banner images and icons"
**Describe the bug**
Individual campaigns need banner images and icons.

**What kind of user are you?**
Site Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://womeninidentity.silkstart.com/campaigns'
2. Note lack of icon.
3. Click on 'https://womeninidentity.silkstart.com/campaigns/help-fund-our-it-spend'
4. Note lack of banner, icon

[2021-10-02 17:10] hlflanagan opened #77 "Need to confirm Code of Conduct campaign details"
**Describe the bug**
The description of the Code of Conduct campaign needs work.

**What kind of user are you?**
Site Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://womeninidentity.silkstart.com/campaigns/code-of-conduct'
2. Scroll down to 'Full Description'

[2021-10-02 17:14] hlflanagan commented on #49
@mcresilkstart , can you confirm that contacts will need to register again to become members?

[2021-10-03 16:56] mcresilkstart commented on #74
Can one of you delete the account that was imported from the import file
for ***@***.*** as I can't login now.  Once I get back
in I can investigate the 'unsubscribed' issue.  My first step will be to
check the subscriber status for the users that should be marked as
unsubscribed by looking in their home chapter not just at the APEX.

On Sat, 2 Oct 2021, 17:29 pamelatech, ***@***.***> wrote:

[2021-10-04 10:44] mcresilkstart commented on #72
@hlflanagan there was a problem with the colour setting for the default webinar event category.  I have changed it to something else.  The save action for this category is not saving so when you change the colour you have to then move to a different category and then it saves everything.  I will log a bug for this but you can work around it for now.  Perhaps @fhobswid would like to choose a more a

[2021-10-04 11:15] mcresilkstart commented on #74
@pamelatech so the import process has imported the subscriber and group topics settings correctly in the APEX.  The global chapter (and any other chapter) have their own set of subscriber settings associated with that chapter.  So you can be a subscriber in the APEX but not in a chapter etc.  So if you run mailshots from the APEX then everything works fine as it is looking at the subscriber settin

[2021-10-06 10:29] mcresilkstart commented on #74
@pamelatech the subscriber settings have now been imported at the GLobal chapter level so I think this now can be closed.

[2021-10-06 10:40] mcresilkstart commented on #25
@fhobswid so header banners (static) aren't technically images so we can't add alt-tags to these.  FOr slide shows there is an alt-tag field when adding/editing slides.  TO add alt-tags to images in articles we would have to add that capability as a code change - I will raise an enhancement request for that.

[2021-10-06 10:49] mcresilkstart commented on #60
@hlflanagan I can probably add some text to that submission page.  Can you give me the text that you want me to add and the preferred location on the page for this and I will try to ad?

[2021-10-06 10:54] mcresilkstart commented on #75
@pamelatech you can add your own content to the right hand column of the jobs board page.  It is set in admin/settings/apps/jobs.  Currently it is set to 'Fees apply to non-sponsors'.  You could expend this to detail the price list.

[2021-10-08 09:31] fhobswid commented on #72
Hi @mcresilkstart I tried to change the webinar category colour to #2a693f - I tried the workaround suggested but it didn't work. Would you be able to update it for me please? Thanks

[2021-10-08 10:47] mcresilkstart commented on #72
@fhobswid I eventually managed to change it but it required several attempts before it saved it correctly.  Should be ok now

[2021-10-09 15:07] pamelatech commented on #74
Successful!

[2021-10-09 15:07] #74 closed, assigned to mcresilkstart

[2021-10-09 16:11] hlflanagan commented on #72
Thanks!

[2021-10-09 16:11] #72 closed, assigned to fhobswid, mcresilkstart

[2021-10-09 16:23] hlflanagan opened #78 "WiD website Access Control planning"
**Describe the bug**
WiD needs to define the members of each team and what access they need to the site

**To Reproduce**
Need to determine the membership of groups like the Newsletter team, the Tech team, the Campaigns team, etc, and figure out the appropriate site permissions for each.

[2021-10-09 16:28] hlflanagan opened #79 "Campaign pages do not have a navigation bar"
**Describe the bug**
The campaign pages do not have a navigation bar, which will make it more difficult for a user to navigate back out to the site.

**What kind of user are you?**
Any

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.womeninidentity.org/campaigns/code-of-conduct'

No navigation bar.

**Expected behavior**
I expected to see the usual "WiD Central", "WiD Post

[2021-10-09 16:35] hlflanagan commented on #60
How about just putting "Fees apply for non-sponsors (£299 for a 30-day post)" below the header "Jobs" and above "New Jobs"?

[2021-10-11 10:16] mcresilkstart commented on #79
@hlflanagan looks like the size of the banner image is wrong (too tall) and it is overlaying the nav bar.  Can you share the image with me please and then I can resize it to fit or @fhobswid may be able to do this as well?

[2021-10-11 11:17] mcresilkstart commented on #60
@hlflanagan I have added this wording on the header of the job submission page.  I also updated it to the same text on the RHS of the job listing page and added it to the subheader of that page.  Let me know if you need any of this further adjusted/edited/formatted differently.  Note that these changes are on the APEX only at present.

[2021-10-11 12:26] fhobswid commented on #79
@mcresilkstart I tried reducing the height but it doesn't seem to have worked? I think it has stretched the image as it looks a bit more blurry. Than
![banner 13](https://user-images.githubusercontent.com/88625230/136789677-a3e87260-36d9-4dc6-b07c-71029cc43652.png)
ks

[2021-10-11 12:29] fhobswid commented on #79
Even the page without a banner has no navigation menu - https://www.womeninidentity.org/campaigns/help-fund-our-it-spend

[2021-10-11 14:08] hlflanagan commented on #60
Awesome, thanks!

[2021-10-11 14:08] #60 closed, assigned to mcresilkstart

[2021-10-12 09:32] mcresilkstart commented on #79
@fhobswid ah my mistake - when you are on a campaign page there is no nav bar.  You will see at the bottom left a 'Return to All Campaigns' which is the nav to get back up to the campaign list page and once there you find the nav bar at the top.  This is how it works. @hlflanagan

[2021-10-12 11:12] fhobswid commented on #79
Is there any opportunity to change this? I feel like it could be seen as a bit of a sales tactic to keep users on that page, but that's not really the aim with donations.

[2021-10-12 12:40] mcresilkstart commented on #79
It designed this way.  It would need an enhancement to change it. I think that I could change the formatting of the Return text.  At present it is in red and not very obvious.  Perhaps a larger font, bold and a different colour?  Let me know what you would like and I  will see if I can add some specific formatting CSS for it to be more visible.

[2021-10-12 13:15] fhobswid commented on #79
I think it's fine on that front - thanks

[2021-11-15 16:13] mcresilkstart commented on #51
@fhobswid this has now been fixed and is active for the WiD site.  I checked the latest notification post and the 'UK@ country is included in the email footer.  Please check for yourself and then close this one if you agree.

[2021-11-17 16:46] fhobswid commented on #51
Thanks @mcresilkstart

[2021-11-17 16:46] #51 closed, assigned to mcresilkstart

[2021-11-30 01:21] hlflanagan commented on #36
In other words, we need functionality for multi-chapter, cross-domain widgets.

[2021-11-30 01:29] hlflanagan commented on #32
A basic, common email template with a common header and footer and a configurable body would be ideal.

[2021-12-17 14:14] hlflanagan commented on #36
@fhobswid rumor has it that you worked with Michael on a custom widget that would support this functionality that's now in Apex. We need to follow up to make sure we understand what we have and document how it works.

[2021-12-17 14:24] hlflanagan commented on #34
As a bonus prize, being able to incorporate events from an .ics file and being able to subscribe to the calendar as a regular calendar feed would be valuable.

[2022-01-04 13:32] fhobswid opened #80 "Mobile view of blogs"
An issue has been reported by the team: The mobile view of individual blog entries looks strange (please see received image below). I have some suggestions to improve this:

- Make image full width on mobile (small screens)
- Start title on new line, underneath or above featured image
- Ensure no line breaks can occur within title words

Thank you!

[Image from iOS](https://user-images.githubuserc

[2022-01-05 13:17] mcresilkstart commented on #80
Hi Francesca - I see the problem.  Let me see what is the easiest way to
fix it from those options.

Regards

Michael

*Michael Creswell - Sales Director* SilkStart UK
T: +44 (0) 207 101 4370
M: +44 (0) 7973 818 947
E: ***@***.***
W: www.silkstart.co.uk

On Tue, 4 Jan 2022 at 13:32, fhobswid ***@***.***> wrote:

[2022-01-05 14:00] mcresilkstart commented on #80
@fhobswid I have added some CSS in the APEX to fix this by making the image full screen on a mobile device.  Please check and see if now all good and close this issue if it is.

[2022-01-05 14:14] fhobswid commented on #80
Thanks @mcresilkstart - I think that layout is better.
The image does look stretched though in this view and therefore blurry (e.g. https://www.womeninidentity.org/articles/building-a-code-of-conduct-for-greater-inclusion-in-identity-and-financial-systems), unlike the overall Articles archive which must present the image a higher resolution in this layout (https://www.womeninidentity.org/articles/

[2022-01-05 15:32] mcresilkstart commented on #80
@fhobswid well yes it will look more blurry as it is now scaling up the image to fit the full width of the mobile device so the headline is pushed below it.  It might better if the uploaded image had a higher resolution??  The other option is to not display the image when on a mobile device.  Let me know if you want me to change it to this

[2022-01-05 16:50] fhobswid commented on #80
I don't think a higher resolution would fix it unfortunately, as it's the same across all of the articles. I think it's to do with the resolution that the images are being displayed at rather than as they're uploaded, given that this isn't an issue with the overall archive (list of articles) view.
I'd also prefer to keep the images in mobile view, as these are important for e.g. the member intervi

[2022-01-05 16:54] mcresilkstart commented on #80
@fhobswid so leave it as is then?

[2022-01-07 15:54] fhobswid commented on #80
I'm not sure which is better - blurry image or disjointed title. Could it be logged as a bug with the tech team, with the initial suggestions for fixing it?

[2022-01-07 15:59] mcresilkstart commented on #80
Sure - I will see if my web developer can come up with something better.

[2022-01-10 08:52] fhobswid commented on #80
Thanks!

[2022-01-19 12:26] mcresilkstart commented on #80
@fhobswid I got the image on the mobile back to its original size with the header text below it.  Can you check it now please and if ok close this ticket?

[2022-01-20 12:02] fhobswid commented on #80
That's great, thanks @mcresilkstart!

[2022-01-20 12:02] #80 closed, assigned to mcresilkstart

[2022-02-04 09:43] fhobswid opened #81 "Update footer 2021 --> 2022"
Can't see where we can do this ourselves. Thanks

[2022-02-07 13:58] mcresilkstart commented on #81
@fhobswid I have changed it everywhere (APEX and chapters).  This part of the footer wording is driven by a custom script and customers don't have access to custom scripts so you have to request this to be changed each time.  Logging a support ticket would cater for this in the future.

[2022-02-07 13:58] #81 closed, assigned to mcresilkstart

[2022-04-29 15:29] EndlessTrax opened #82 "Not all jobs board emails are delivered"
**Describe the bug**
Emails for the job posting template are not always received by users. Users using Gmail seem to get the email, and users on outlook do not. They do not appear in SPAM and appear undelivered.

It is a two email process:
- User-level email to confirm they have submitted to the job board.
- Purchase receipt is then sent

**What kind of user are you?**
Site Admin

**To Reproduce**

[2022-05-27 14:46] EndlessTrax commented on #82
To be submitted as a support issue

[2022-08-05 12:37] EndlessTrax commented on #82
Ticket (20074) submitted.

[2022-08-05 12:37] EndlessTrax commented on #82
Ticket closed on Aug 4th - "We have made some improvements to the job board notifications recently. I believe they may have been released since you reported this issue. It is difficult to investigate this at this time, but if you notice it happening again, please let me know."

[2022-09-14 21:18] EndlessTrax commented on #25
@mcresilkstart checked on the status of this offline. His email reply:

[code]

[2022-09-14 21:18] #25 closed

[2022-10-04 20:58] EndlessTrax commented on #44
Email update form @mcresilkstart :
"not yet fixed.  I see the issue (SS-7066) is tagged as on-deck and have just asked for it to be scheduled and asked for an estimated date for completion."

[2022-10-21 14:42] hlflanagan opened #83 "Receiving fraudulent payments through the donation system"
**Describe the bug**
We have received dozens of £1-5 transactions from a single source, presumably to test stolen credit card numbers. We have turned off all campaigns and would like to put the campaigns themselves behind a membership wall.

We are also contacting Stripe to see how they can assist.

<img width="1069" alt="Screen Shot 2022-10-21 at 7 43 13 AM" src="https://user-images.githubusercon

[2022-10-28 14:37] hlflanagan commented on #83
Advice from Stripe to prevent card testing is here: https://stripe.com/docs/disputes/prevention/card-testing#prevent-card-testing

This needs to be escalated with Silkstart, as Stripe's recommendations all require action from the platform.